.page {
  text-align: left;

  h2, h3, h4 {
    font-weight: normal;
  }
}

.red {
  color: #000;
}

.login-form {
  width: 500px;
  margin: 200px auto 0;
  padding-top: 20px;
  text-align: left;
  border: none;
}

html {
  line-height: 30px;
}

